*{
    font-family: "Segoe Ui Light", sans-serif;
    color: #ffffff;
}

#header{
     height: 100px; 
     background: #423326;
     margin-bottom: 5px;
}
 
#header li{
    display: inline;
}

.logo{
    width: 62px;
    height: 62px;
    margin-left: 20px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 700px;  
    padding-top: 17px;  
}

.link{
    text-align: right;
    font-size: 12pt;
    margin-right: 5px;
}

.link a{
    text-decoration: none;
    font-weight: bold;
}

.name{
    text-align: center;
    margin-top: -40px;
    font-size: 14pt;
    font-weight: bold;
}

#left{
    float: left;
    background: rosybrown;
    width: 33%;
    height: 800px;  
    text-align: center; 
    font-size: 13pt;
	line-height: 1.4em; 
}

#mid{
    background: green;
    width: 33%;
    height: 800px;  
    text-align: center; 
    font-size: 13pt;
	line-height: 1.4em; 
    display: inline-block;
    margin-left: 10px;
}

#right{
    float: right;
    background: gray;
    width: 33%;
    height: 800px;  
    text-align: center; 
    font-size: 13pt;
	line-height: 1.4em; 
}

.piatti{
    width: 50%;
    height: 50%;
    margin-top: 20px;
}
