*{
    font-family: "Segoe Ui Light", sans-serif;
}

#header{
     height: 100px; 
     background: #423326;
     margin-bottom: 5px;
     color: white;
}
 
#header li{
    display: inline;
}

.logo{
    width: 62px;
    height: 62px;
    margin-left: 20px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 700px;  
    padding-top: 17px;  
}

.link{
    text-align: right;
    font-size: 12pt;
    margin-right: 5px;
}

.link a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.name{
    text-align: center;
    margin-top: -40px;
    font-size: 14pt;
    font-weight: bold;
}

form{
    border: 2px, solid, #000;
    background: royalblue;
    text-align: center;
}

input [type="text"], input [type="email"]
{
    border: solid;
    border-width: 2px;
}

input [type="submit"]
{
    width: 70px;
    color: black;
}

